.videobox {
    border: 5px solid #000;
    border-radius: 40px;
}

.githubpages {
  text-align: center;
}

.read-icon {
  color:black;
}

#sidebar ul li > a .read-icon {
  color:green !important;
}

svg:not(:root) {
 height: 14px;
 margin: 5px 0px 0px 70px;
}

.resetvisited {
  text-align: right;
  background-color: unset;
  padding-right: 8px;
}

.sidebaricon {
  width: 24px;
  vertical-align: middle;
}

#sidebar hr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 2rem 1rem 0rem 1rem;
}

#sidebar .nav-title {
  font-size: 1.3rem;
  text-transform: unset;
  line-height: 100% !important;
  margin: .3rem 0 .5rem 0;
}

#sidebar {
  min-width: 16.75rem;
  max-width: 16.75rem;
  width: 16.75rem;
}

#body {
  margin-inline-start: 16.75rem;
  min-width: calc( 100% - 16.75rem);
  max-width: calc( 100% - 16.75rem);
  width: calc( 100% - 16.75rem);
}

#body .flex-block-wrapper {
  min-width: calc( 100% - 10rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0px 20px 20px 20px;
  background: rgba(255, 255, 0, 0.02);
}

body:not(.print) #body .narrow .flex-block-wrapper {
  width: calc( 81.25rem - 16.75rem - 2 * 3.75rem );
  max-width: calc( 81.25rem - 16.75rem - 2 * 3.25rem );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0px 20px 20px 20px;
  background: rgba(255, 255, 0, 0.02);
}

/* we limit width if we have large screens */
@media screen and ( min-width: 81.25rem ){ /* #sidebar/width + ./max-width */
    #body .flex-block-wrapper {
        width: calc( 81.25rem - 16.75rem - 2 * 3.25rem );
    }
    body:not(.print) #body .narrow .flex-block-wrapper {
        width: calc( 81.25rem - 16.75rem - 2 * 3.25rem );

    }
}

body:not(.print) #body-inner.narrow h1 {
font-size: 2.5rem;
}

body:not(.print) #body-inner.narrow p {
font-size: 1rem;
}

body:not(.print) #body-inner.narrow {
  padding: 20px 0rem 0rem 0rem;
  margin-bottom: 40px;
}

.img {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

#body-inner {
  padding: 20px 0rem 0rem 0rem;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5rem;
  text-align: left;
  text-transform: unset;
}

.footer {
  background-color: color(srgb 0.9568 0.9569 0.957);
  height: 30px;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 22em);
}

#body #breadcrumbs {
  width: unset;
}

img.socialicons {
  width: 22px;  
}

.css-194vj9z {
  display: flex;
  padding: 0px 0px 0px 15px;
  align-items: center;
  /* background: rgb(194, 36, 25); */
  width: 200px;
  height: 64px;
  color: white;
}

.logo {
  height: auto;
  width: 40px;
}

.css-gm068i {
  padding-left: 16px;
  cursor: pointer;
}

.css-ils4e4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
-moz-osx-font-smoothing: grayscale;
}

.css-1qxtz39 {
font-size: 12px;
font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line-height: 18px;
-moz-osx-font-smoothing: grayscale;
}

.css-762qbi {
-webkit-user-select: none;
width: 1em;
height: 1em;
display: inline-block;
fill: currentcolor;
flex-shrink: 0;
transition-duration: 200ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0ms;
transition-property: fill;
font-size: inherit;
}

#footer[_ngcontent-pxi-c0] {
width: 100%;
height: 50px;
line-height: 50px;
background-color: #d6dde1;
color: #333;
position: absolute;
top: auto;
bottom: 0;
font-size: 14px;
font-weight: 700;
}

#footer[_ngcontent-ayh-c0] {
width: 100%;
height: 40px;
line-height: 40px;
background: #fff;
box-shadow: 0 -3px 3px -3px rgba(0,0,0,.1);
color: #333;
position: absolute;
z-index: 1;
top: auto;
bottom: 0;
font-size: 14px;
font-weight: 700;
}

.footer[_ngcontent-ayh-c7] {
align-items: center;
display: flex;
font-size: 12px;
font-weight: 400;
justify-content: space-between;
}

.footer[_ngcontent-pxi-c0] {
width: 100%;
height: 50px;
line-height: 50px;
background-color: #d6dde1;
color: #333;
position: absolute;
top: auto;
bottom: 0;
font-size: 14px;
font-weight: 700;
}

.footer[_ngcontent-pxi-c7] {
align-items: center;
display: flex;
font-size: 12px;
font-weight: 400;
justify-content: space-between;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  height: 40px;
}

.footer[_ngcontent-ayh-c7] .left-col[_ngcontent-ayh-c7], .footer[_ngcontent-ayh-c7] .right-col[_ngcontent-ayh-c7] {
align-items: center;
display: flex;
flex-wrap: nowrap;
}


.footer[_ngcontent-ayh-c7] .right-col[_ngcontent-ayh-c7] {
align-items: center;
display: flex;
margin-left: 7px;
text-align: right;
}

.footer[_ngcontent-ayh-c7] .left-col[_ngcontent-ayh-c7], .footer[_ngcontent-ayh-c7] .right-col[_ngcontent-ayh-c7] {
align-items: center;
display: flex;
flex-wrap: nowrap;
}


