<style>

:root{
    /* Colors */
    --fortinet-white: 255,255,255;
    --fortinet-black: 0,0,0;
    --fortinet-red: 218,41,28;  
    --fortinet-blue: 48,127,226;  
    --fortinet-green: 72,213,151;  
    --fortinet-teel: 44,204,211;
    --fortinet-purple: 144,99,205;
    --fortinet-silver: 162, 178, 200;
    --fortinet-silver-jeffMAC: 159, 178, 199;
    --fortinet-silver70: 77, 92, 102;
    --fortinet-lightgray: 228, 228, 228;
    --fortinet-gray: 179, 179, 179;

    --PRIMARY-color: rgb(var(--theme-color)) !important;
    --MAIN-BG-color: rgb(var(--fortinet-white)) !important;
    --MAIN-TEXT-color: rgb(var(--fortinet-black)) !important;
    --MAIN-font: inter !important;

    --MAIN-LINK-color: #1C90F3 !important; /* << blue; >> red#f31c1c; /* Color of links */
    --LINK-HOVER-color: #167ad0 !important; /* #d01616; /* Color of hovered links */

    --MENU-SECTIONS-ACTIVE-BG-color: rgb(var(--fortinet-black)) !important;
    --MENU-SECTIONS-BG-color: #312525; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc !important;
    --MENU-SECTIONS-LINK-HOVER-color:  #e6e6e6 !important; /* rgba(var(--fortinet-white)) !important;*/
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-HEADER-BG-color: rgb(var(--theme-color)) !important;
    --MENU-SEARCH-color: rgba(var(--fortinet-white)) !important;
    --MENU-VISITED-color: rgb(var(--theme-color)) !important;

    * home link text color */
    --MENU-HOME-LINK-color: #ccc !important; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: rgba(var(--fortinet-white)) !important; /* Color of the hovered home button text */

    /* notifications */
    --BOX-WARNING-color: rgb(var(--fortinet-red)) !important;
    --BOX-NOTE-color: rgb(var(--fortinet-teel)) !important;
    --BOX-TIP-color: rgb(var(--fortinet-green)) !important;
    --BOX-INFO-color: rgb(var(--fortinet-blue)) !important;

     /* added adjusted to base16-snazzy chroma style */
    --CODE-BLOCK-color: #e2e4e5 !important; /* fallback color for code text */
    --CODE-BLOCK-BG-color: rgb(var(--fortinet-gray)) !important; /* fallback color for code background */
    --CODE-BLOCK-BORDER-color: #282a36 !important; /* color of block code border */

    /* added */
    --CODE-INLINE-color: #5e5e5e !important; /* color for inline code text */
    --CODE-INLINE-BG-color: #fffae9 !important; /* color for inline code background */
    --CODE-INLINE-BORDER-color: #f8e8c8 !important; /* color of inline code border */

    --BROWSER-theme: light; /* name of the theme for browser scrollbars of the main section */
    --MERMAID-theme: default; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --SWAGGER-theme: light; /* name of the default Swagger theme for this variant, can be overridden in config.toml */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(var(--fortinet-white)) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(var(--fortinet-white)) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(var(--fortinet-white)) !important;
}

#title {
  font-size: 2.2rem;
  color: rgb(var(--fortinet-white)) !important;
}

#subtitle {
  font-size: 1rem;
  /* font-style: italic; */
  color: rgb(var(--fortinet-white)) !important;
}

#sidebar .searchbox > :first-child, #sidebar .searchbox button, .searchbox span {
  opacity: 1;
}

.searchbox  {
  border: 1px solid rgba(var(--theme-color), .85) !important;
}

.searchbox input {
  background: rgba(var(--theme-color), .75) !important;
}

#header #logo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

    @media screen and (min-width: 1300px) {

        /* sidebar/width + ./max-width */
        #body .flex-block-wrapper {
            margin-left: auto;
            margin-right: auto;
            max-width: 1300px;
            width: 100%;
        }
    }
</style>
